body {
    font-family: 'Lato', sans-serif;
}

td {
    width: 80px;
    height: 80px;
    border: solid 4px #222;
    text-align: center;
    font-size: 20pt;
    border-radius: 10px;
    background: #5ee5b6;
    color: white;
}

td:hover {
    background-color: #5ec5f1;
    cursor: pointer;
    color: black;
}

.tictactoe {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 10px 50px;
}

.board {
    float: left;
    margin-left: 20px;
    width: 60%;
}

.player {
    float: left;
    width: 15%;
}

.player-points {
    font-size: 20pt;
    padding-top: 10px;
}

.player-points.selected {
    border-bottom: solid 3px #5ee5b6;
}